* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: skyblue;
    --secondary-color: darkgreen;
    --accent1-color: skyblue;
    --accent2-color: blue;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
}

body {
    font-family: var(--body-font);
    color: #000;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;

}

.header img {
    width: 250px;
    height: auto;
    display: flex;
    margin: 1rem 1rem 2rem 2rem;

}

nav {
    background-color: var(--accent1-color);
    max-width: 840px;
    padding: 2rem;
    display: flex;

}

nav ul {
    list-style-type: none;
    display: flex;
    max-width: 840px;
    margin: 1rem 2rem;
    padding: 1rem;
    font-size: 1.2rem;
}

nav a {
    display: block;
    color: var(--accent2-color);
    padding: 1rem;
    text-decoration: none;

}

.hero-container {
    position: relative;
    max-width: 100%;
    margin-top: 1rem;

}

.hero-img {
    display: block;
    width: 100%;
    height: auto;

}

h1 {
    position: absolute;
    font-size: 25px;
    text-align: center;
    top: 2%;
    left: 30%;
    color: #fff;
}

article {
    position: absolute;
    top: 60%;
    left: 5%;
    color: #000;
    margin-left: 5rem;
    margin-right: 8rem;
    font-size: 20px;
    background-color: #fff;

    border: 1pt solid red;

}

history-container {
    display: flex;
    flex-direction: flow;
}

.image {
    display: flex;
    flex-direction: flow;
    margin-left: 18rem;
}

h2 {
    display: flex;
    flex-direction: row;
    font: var(--heading-font);
    font-size: 25px;
    margin-top: 3rem;
    text-align: center;
    color: blue;

}

.image-row {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: end;
    padding: 1px;
    font-size: 15px;
    gap: 20px;
    justify-content: space-around;
    margin-left: 1rem;
    margin-right: 25rem;
    margin-bottom: 5rem;
}

footer {
    display: flex;
    margin-top: 1rem;
    margin-left: 21rem;
    width: 70%;

}

p {
    display: flex;
    margin-left: 10rem;
    width: 100%;
}

.socialmedia img {

    width: 40px;
    height: 40px;

}

.socialmedia {
    display: flex;
    width: 85%;
    justify-content: space-evenly;

}