* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: skyblue;
    --secondary-color: darkgreen;
    --accent1-color: skyblue;
    --accent2-color: blue;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
}

body {
    font-family: var(--body-font);
    color: #000;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;

}

.header img {
    width: 250px;
    height: auto;
    display: flex;
    margin: 1rem 1rem 2rem 2rem;

}

nav {
    background-color: var(--accent1-color);
    max-width: 500;
    padding: 2rem;
    display: flex;

}

nav ul {
    list-style-type: none;
    display: flex;
    max-width: 500;
    margin: 1rem 2rem;
    padding: 1rem;
    font-size: 1.2rem;

}

nav a {
    display: block;
    color: #fff;
    padding: 1rem;
    text-decoration: none;

}

h1 {
    color: var(--secondary-color);
    text-align: center;
    margin-top: 1rem;
    font: var(--heading-font);
    font-size: 30px;
}

article {

    display: block;
    text-align: center;
    color: #000
}

.flex-container {
    display: flex;
    flex-direction: row;

}

.map {
    display: flex;
    margin-top: 1rem;
    margin-left: 20rem;
    padding-right: 20rem;
}

aside {
    margin-left: 10rem;
    padding: 1rem;

}

aside > .form {
    display: flex;

}

button {
    font-size: 14px;
    width: 300px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;

}

.box {
    border: 2px solid #000;
    padding: 1rem;
    width: 57%;
    height: 5%;
    margin-bottom: 1rem;
    margin-left: 20rem;

}

h2 {
    font: var(--heading-font);
    font-size: 25px;
    margin-left: 16rem;
    width: 50%;
    color: blue;
}

.image-box {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 12rem;
    margin-right: 20rem;
    font-size: 15px;
}

.socialmedia img {
    width: 4rem;
    height: auto;
    padding: 1rem;
    margin-right: 0.5rem
}

p {
    color: #fff;
    padding-left: 5rem;
}