* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: skyblue;
    --secondary-color: darkgreen;
    --accent1-color: skyblue;
    --accent2-color: blue;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
}

body {
    font-family: var(--body-font);
    color: #000;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;

}

.header img {
    width: 250px;
    height: auto;
    display: flex;
    margin: 1rem 1rem 2rem 2rem;

}

nav {
    background-color: var(--accent1-color);
    max-width: 840px;
    padding: 2rem;
    display: flex;

}

nav ul {
    list-style-type: none;
    display: flex;
    max-width: 840px;
    margin: 1rem 2rem;
    padding: 1rem;
    font-size: 1.2rem;

}

nav a {
    display: block;
    color: darkblue;
    padding: 1rem;
    text-decoration: none;

}

h1 {
    color: var(--secondary-color);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font: var(--heading-font);
    font-size: 30px;
}

.map {
    display: flex;
    margin-top: 3rem;
    margin-left: 1rem;
    width: 70%;
    height: 30%;
    padding-right: 1rem;

}

.form {
    display: flex;
    margin-top: 1rem;

}

.button {
    width: 350px;
    margin-left: 500px;
    text-align: center;

}

#submit {
    width: 18rem;
    height: 2rem;
    font-size: 1rem;
}

.box {
    border: 2px solid #000;
    padding: 1rem;
    width: 100%;
    height: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

}

h2 {
    font: var(--heading-font);
    font-size: 25px;
    margin-left: 15rem;
    width: 70%;
    color: blue;
}

.image-box {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 12rem;
    margin-right: 10rem;
    font-size: 15px;
    border: 1px solid green;

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid purple;

}

p {
    grid-column: 1/2 border;
    1px solid blue;
}

.socialmedia img {
    width: 20px;
    height: 20px;
}

.socialmedia {
    display: grid;
    grid-column: 1/2;
    border: 1px solid orange;

}