* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2ca5fc;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 2px 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

h1 {
    .hero img display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: left;
    opacity: 0.9;
    background-color: var(--accent-color);
    color: #fff;
}

.hero article img {

    float: right;
    width: 125px;
}

.hero article {
    position: relative;
    margin: 16px;
    padding: 8px;
}