* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: skyblue;
    --secondary-color: darkgreen;
    --accent1-color: skyblue;
    --accent2-color: blue;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
}

body {
    font-family: var(--body-font);
    color: #000;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;

}

.header img {
    width: 250px;
    height: auto;
    display: flex;
    margin: 1rem 1rem 2rem 2rem;

}

nav {
    background-color: var(--accent1-color);
    max-width: 840px;
    padding: 2rem;
    display: flex;

}

nav ul {
    list-style-type: none;
    display: flex;
    max-width: 840px;
    margin: 1rem 2rem;
    padding: 1rem;
    font-size: 1.2rem;
}

nav a {
    display: block;
    color: var(--accent2-color);
    padding: 1rem;
    text-decoration: none;

}

.hero-img {
    position: relative;
    display: flex;
    width: full-width;

}

h1 {
    position: absolute;
    display: flex;
    color: #fff;
    font-size: 50px;
    margin-left: 120px;
    margin-top: 200px;

}

td {
    font-size: 20px;
    color: steelblue;

}

form {
    margin-top: 2rem;
    margin-left: 15rem;
    font-size: 20px;
    color: grey;

}

button {
    width: 80px;
    height: 20px;
    border: 2px solid grey;
    margin-bottom: 2rem;
    margin-left: 10rem;
}

a {
    text-decoration: none;

}

.grid-container {

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 100%;
    height: 40%;

}

.image-grid {
    display: grid;
    grid-column: 1/2;
    gap: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 12pt;
}

.text-grid {
    display: grid;
    grid-column: 2/2;
    gap: 5px;
    font-size: 12pt;
    margin-top: 1rem;
    padding: 10px;
}

footer {
    display: flex;
    margin-top: 1rem;
    margin-left: 20rem;
    width: 70%;

}

p {
    display: flex;
    margin-left: 10rem;
    width: 100%;
}

.socialmedia img {

    width: 40px;
    height: 40px;

}

.socialmedia {
    display: flex;
    width: 85%;
    justify-content: space-evenly;

}