* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: skyblue;
    --secondary-color: darkgreen;
    --accent1-color: skyblue;
    --accent2-color: blue;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
}

body {
    font-family: var(--body-font);
    color: #000;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;

}

.header img {
    width: 250px;
    height: auto;
    display: flex;
    margin: 1rem 1rem 2rem 2rem;

}

nav {
    background-color: var(--accent1-color);
    max-width: 840px;
    padding: 2rem;
    display: flex;

}

nav ul {
    list-style-type: none;
    display: flex;
    max-width: 840px;
    margin: 1rem 2rem;
    padding: 1rem;
    font-size: 1.2rem;
}

nav a {
    display: block;
    color: var(--accent2-color);
    padding: 1rem;
    text-decoration: none;

}

p {
    margin-top: 2rem;

}

a {
    text-decoration: none;
    font-size: 1.2rem;

}

.image-box {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid #000;
    width: 100%;
}

h2 {
    text-align: center;
    margin-left: 25px;
    margin-top: 1rem;
    color: blue;
}

.image-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 1rem;
    margin-left: 8rem;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    align-items: end;
    padding: 10px;
    font-size: 12px;
}

table {
    border-spacing: 15px;

}

footer {
    display: flex;
    margin-top: 1rem;
    margin-left: 21rem;
    width: 70%;

}

p {
    display: flex;
    margin-left: 10rem;
    width: 100%;
}

.socialmedia img {

    width: 40px;
    height: 40px;

}

.socialmedia {
    display: flex;
    width: 85%;
    justify-content: space-evenly;

}