* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, Sans-serif;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;


}

h1 {
    margin: 1rem;
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left:
        30px;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: auto 100px;
    
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}